<div class="staff-info-container">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="edit-btn"><a href="">Edit</a></div>
        
        <div class="staff-info">
            <figure class="img-container">
                <img src="https://m.economictimes.com/thumb/msid-101784190,width-1200,height-900,resizemode-4,imgsize-37648/blackpinks-jennie-has-opened-up-about-her-struggle-with-burnout.jpg" alt="">
                <figcaption>Kyaw Kyaw</figcaption>
               
            </figure>
            <p>Position: <span>wait-staff</span></p>
            <p>Phone: <span>09456789</span></p>
            <p>Email: <span>kyaw21@gmail.com</span></p>
            <p>Address: <span>Butar Street, Kamaryut Tsp, Yangon</span></p>
            <p>Username: <span>Kyaw Kyaw</span></p>
            <p>Password: <span>12345</span></p>
        </div>
        <div class="delete-btn"><a href="">Delete Staff</a></div>
    </div>
</div>
